.grid-container-1{
    display: grid;
    padding: 10px;
    grid-template-columns: 250px 200px;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
   justify-content: center;
    align-content: center;
  
  
    

    
}
 /*.grid-container-1 >div{
    
    background-color: cornflowerblue;
  
    margin: 5px;
    
}*/
    @media screen and (max-width: 480px){
    .div-4{
        background-color: rgb(237, 100, 100);
        padding: 10px;
        }
    }
    @media screen and (min-width: 481px) and (max-width: 767px){
        .div-4{
        background-color: blue;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
    .div-4{
        background-color: rgb(0, 255, 55);
        }
    }
@media screen and (min-width: 1024px) {
    .div-4{
        background-color: rgb(208, 255, 0);
        }
    }


.flex-container-2{
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    
    height: 300px;
    align-items: center;

    background-color:crimson;
}
.flex-container-2 >div{
    width: 300px;
    background-color: cornflowerblue;
    padding: 5px;
    margin: 10px;
}