div.red{
    background-color:red;
    float:left;
    height: 100px;
    width: 300px;


}
div.green{
    background-color: green;
    float: right;
    height: 100px;
    width: 300px;
    
}
div.blue{
    background-color: rgb(49, 0, 128);
    clear: both;
    height: 100%;
    width: 100%;
  
    
}