.flex-container{
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 300px;
    align-items: center;

    background-color: blueviolet;
}
.flex-container >div{
    width: 300px;
    background-color: cornflowerblue;
    padding: 5px;
    margin: 10px;
}